* {
  box-sizing: border-box;
  /* color: white; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  scroll-behavior: smooth;
  /* background-color: rgb(32, 31, 31) !important; */
}

@keyframes rootAnim {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
